{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.slides) 0 }}
<section>
    <div class="home-carousel mask-primary">
        <div class="container" style="padding: 0;">
          <div class="homepage owl-carousel" style="margin-bottom: 20px">
                {{ range sort .Site.Data.slides "weight" }}
                <div class="item">
                    <div class="">
                        <div class="col-sm-5 right">
                            <h1>{{ .title }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-sm-7">
                            <img class="img-responsive cld-responsive"
                            data-src="{{ $.Site.Params.cloudinary_url}}/w_700,dpr_auto,c_scale{{ .image }}"
                            alt="">
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
